/*Alle Farben hier rein*/
:root { --light: #f2ecec; --dark: #1a1616; --focus: #a12525; --lightBg: #d4cbcb; --darkBg: #2a2828; --darkAccent: #5A4E4E; --lightAccent: #fefefe }
/*Farben für normalen/light Modus*/
body {background-color:red}
@media (prefers-color-scheme: light) {
	body, .modal-content { background-color: var(--light); color: var(--dark) }
	.navbar, .modal-header { background-color: var(--lightAccent)}
	.navbar a .navbar-brand { color: var(--dark) }
	.jumbotron { background-color: var(--lightBg) }
	a.navbar-brand { color: var(--dark) }
	p, h1, h2, h3, h4, h5, h6 {color: var(--dark)}
}
/*Farben für dark Modus*/
@media (prefers-color-scheme: dark) {
	body, .modal-content { background-color: var(--dark); color: var(--light) }
	.navbar, .modal-header { background-color: var(--darkAccent)}
	.jumbotron { background-color: var(--darkBg) }
	.navbar { background-color: var(--darkBg) !important }
	a.navbar-brand { color: var(--light) }
	.nav-link { color: var(--light) }
	.accordion-item { background-color: var(--darkBg); border-bottom-color: var(--light); }
	.accordion-button { background-color: var(--darkBg); color: var(--light); }
	.accordion-button:not(.collapsed) { background-color: var(--darkBg); color: var(--light) !important; text-decoration: underline; }
	.accordion-button.collapsed::after { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
	p, h1, h2, h3, h4, h5, h6 {color: var(--light)}
}
.featurette { align-items: center; }
.carousel-caption { color: var(--dark) }
article {border: solid 3px red}